body {
    margin: 0;
    padding: 0;

    line-height: 1.4;
    font-size: 18px;
    font-family: "Helvetica Neue";

    background-color: #FF7161;
    color: #FFFFFF;
}

#main-content {
    margin: auto;
    padding: 100px 0;

    max-width: 800px;
}

.timer {
    width: 100%;

    font-size: 80px;

    text-align: center;
}

.control {
    max-width: 400px;
    height: 60px;

    margin: auto;

    display: flex;
    justify-content: space-between;
}

.button {
    flex: 1 1 0;

    margin: 0 5px;
    padding: 0;

    box-sizing: border-box;

    border: 2px solid #FFFFFF;
    border-radius: 10px;

    line-height: 54px;
    font-size: 30px;

    text-align: center;

    transition: all 0.1s ease-out;
}

.button:hover {
    background-color: #FFFFFF;
    color: #FF7161;
}